/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
    display: block;
    text-align: center;
    background-color: rgba(245, 3, 3);
    margin: auto;
    padding: 26px;
}

.navbar {
    background-color: inherit
}

.navbar-brand {
    font-family: 'Acme';
    font-weight: bold;
    color: #040f16;
}

.form-control, .btn-outline-dark{
    border: 2px solid;
}

.btn-outline-dark {
    margin-left: 10px;
    color: black;
}

#background-box {
    padding: 20px;
    margin: 30px auto;
    border-radius: 5px;
    width: 80%;
    background-color:rgb(254, 251, 80);
    border: 5px groove black;
}

.poke-name {
    text-transform: capitalize;
    margin-top: 0;
  }

.poke-details {
    margin-bottom: 0;
  }

.poke-img {
    display: block;
    margin: auto;
}

h1 {
    font-family: 'Acme';
    font-size: 50px;
    font-weight: bold;
}

h2, h5 {
    text-transform: capitalize;
}

ul {
    list-style: none;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(245, 3, 3, 0.806);
    -webkit-box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2), 8px 8px 8px 8px rgba(0, 0, 0, 0.19);
            box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2), 8px 8px 8px 8px rgba(0, 0, 0, 0.19);
}

.list-group-horzontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.pokemon-list {
    margin: 0 5px;
    padding: 0;
}

#poke-button {
    font-family: 'Acme';
    text-transform: capitalize;
    text-align: center;
    border: 2px solid black;
    width: 150px;
    height: 150px;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:rgb(254, 251, 80);
}

#poke-button:hover {
    opacity: 80%;
    cursor: pointer;
}

@media all and (max-width: 500px) {
    body {
        padding-top: 70px;
    }
}