body {
    display: block;
    text-align: center;
    background-color: rgba(245, 3, 3, 0.806);
    margin: auto;
}

#background-box {
    padding: 20px;
    margin: 30px auto;
    border-radius: 5px;
    width: 80%;
    background-color:rgb(254, 251, 80);
    border: 5px groove black;
}

.poke-name {
    text-transform: uppercase;
    margin-top: 0;
  }

.poke-details {
    margin-bottom: 0;
  }

.poke-img {
    display: block;
    margin: auto;
}

h1 {
    font-family: fantasy;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    text-transform: uppercase;
}

ul {
    list-style: none;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    background-color: rgba(245, 3, 3, 0.806);
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2), 8px 8px 8px 8px rgba(0, 0, 0, 0.19);
    width: 400px;
}

.pokemon-list {
    padding: 10px;
}

#poke-button {
    text-transform: uppercase;
    text-align: center;
    border: 2px solid black;
    width: 70%;
    height: 50px;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:rgb(254, 251, 80);
}

#poke-button:hover {
    opacity: 80%;
    cursor: pointer;
}

@media all and (max-width: 700px) {
    .poke-button, h2 {
        font-size: 90%;
        padding: 0;
    }
    h1 {
        font-size: 30px;
    }

@media all and (max-width: 500px) {
    .poke-button {
        font-size: 80%;
    }

    ul {
        width: 90%;
    }
}
}